<nav>
  <%= link_to "Home", '/' %>
  <% if session[:user_id] %>
      <%= link_to "Log Out", logout_path, method:'delete' %>
      <% else %>
      <%= link_to "Log In", login_path %><br>
  <% end %>
</nav>
<% if session[:user_id] %>
  <% if @user.filling_position == true %>
    Welcome Applicant <%= @user.first_name %>
  <% else %>
    Welcome to Applicant Index
    filling position? <%= @user.filling_position == false %>
    <% @user.filling_position %>
  <% end %>
<% end %>
