<h1>Jobs</h1>
<h2>Jobs inside the database would go here.</h2>
<%= link_to "New Job", new_user_job_path %> <br> <!-- new_job_path -->
<% if session[:user_id] %>
    <%= link_to "Log Out", logout_path, method:'delete' %>
    <% else %>
    <%= link_to "Log In", login_path %><br>
<% end %>

<%= form_with url: jobs_path, method: :get do |form| %> <!-- can replace jobs_search_path with /jobs/search -->
  <%= form.label :query_function, "Filter using Job Function:" %>
  <%= form.text_field :query %>
  or
  <%= form.label :query_department, "Filter using Job Department:" %>
  <%= form.text_field :query_department %>
  or
  <%= form.label :query_location, "Filter using Job Location:" %>
  <%= form.text_field :query_location %>
  <%= form.submit "Filter" %>
<% end %>

<!-- Filter -->
<!-- form_with url: jobs_search_path, method: :get do |form| --> <!-- can replace jobs_search_path with /jobs/search -->
<!-- Function -->
<!-- Department -->
<!-- Location -->
<!-- submit -->
<!-- end of filter -->

<% @jobs.each do |i| %>
  <p>Title: <%= i.function %>, new: <%= i.new_applicants %>, active: <%= i.active_applicants %>, hired: <%= i.hired_applicants %> %> <!-- link_to i.id, job_path(i) -->
<% end %>
