<h1>New Job</h1>
<!-- form_for @job do |f| -->
<%= form_for @job, url: {action: "create", controller: "jobs"} do |f| %>
    <!-- Function/Title -->
    <%= f.label :function %>
    <%= f.text_field :function %><br>

    <!-- Department -->
    <%= f.label :department %>
    <%= f.text_field :department %><br>

    <!-- Location -->
    <%= f.label :location %>
    <%= f.text_field :location %><br>

    <!-- Description -->


    <!-- Submit -->
    <%= f.submit "Submit" %>
<% end %>
