<%= stylesheet_link_tag "jobsnew.css" %>
<h1>New Job</h1>
<!-- form_for @job do |f| -->
<%= form_for @job, url: {action: "create", controller: "jobs"} do |f| %>
    <!-- Job Title -->
    <h4>Job Title</h4>
    <!-- f.label :title -->
    <!-- f.text_field :title, :required => true --><!-- autocomplete="on" -->

    <!-- Job Code -->
    <h4>Job Code</h4>
    <!-- f.label :code -->
    <!-- f.number_field :code -->

    <h4>Description</h4>
    <!-- f.label :description -->
    <!-- f.text_field :description -->

    <h3>Employer Details</h3>
    <!-- Industry -->
    <h4>Industry</h4>
    <!-- f.label :industry-->
    <!-- f.text_field :industry -->

    <!-- Job Function -->
    <%= f.label :function %>
    <%= f.text_field :function %><br>

    <!-- Employment Type -->
    <h4>Employment Type</h4>
    <!-- Experience Level -->
    <h4>Experience Level</h4>
    <!-- Minimum yrs --> <!-- Upper yrs -->
    <!-- Positions -->
    <h4>Positions</h4>
    <!-- Annual Salary From -->
    <h4>Annual Salary From</h4>
    <!-- Annual Salary Upto -->
    <h4>Annual Salary Upto</h4>
    <!-- Currency -->
    <h4>Currency</h4>
    <!-- Show Salary Details -->
    <h4>Show Salary Details</h4>


    <!-- Department -->
    <%= f.label :department %>
    <%= f.text_field :department %><br>

    <!-- Location -->
    <%= f.label :location %>
    <%= f.text_field :location %><br>

    <!-- Submit -->
    <%= f.submit "Submit" %>
<% end %>
