<%= stylesheet_link_tag "jobsnew.css" %>
<h1>New Job</h1>
<!-- form_for @job, url: {action: "create", controller: "jobs"} do |f| -->
<%= form_for @job do |f| %>
    <!-- Job Title -->
    <%= f.label :title %>
    <%= f.text_field :title, :required => true %> <!-- autocomplete="on"-->
    <!-- f.text_field :title, :required => true --><!-- autocomplete="on" -->

    <!-- Job Code -->
    <%= f.label :code %>
    <%= f.number_field :code %><br>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <h3>Employer Details</h3>
    <!-- Industry -->
    <%= f.label :industry %>
    <%= f.text_field :industry %>

    <!-- Job Function -->
    <%= f.label :function %>
    <%= f.text_field :function %><br>

    <!-- Employment Type -->
    <%= f.label :employment_type %>
    <%= f.text_field :employment_type %>

    <!-- Experience Level -->
    <h4>Experience Level</h4>
    <%= f.number_field :experience_from %>Yrs <%= f.number_field :experience_upto %>Yrs<br>
    <!-- Minimum yrs --> <!-- Upper yrs -->

    <!-- Positions -->
    <%= f.label :positions %>
    <%= f.number_field :positions %><br>

    <!-- Annual Salary From -->     <!-- Annual Salary Upto -->
    <%= f.label :annual_salary_from %>
    <%= f.number_field :annual_salary_from %> <!-- step: 0.01 -->
    <%= f.label :annual_salary_upto %>
    <%= f.number_field :annual_salary_upto %><br>

    <!-- Currency -->
    <%= f.label :currency %>
    <%= f.text_field :currency %>

    <!-- Show Salary Details -->
    <h4>Show Salary Details</h4>

    <!-- Department -->
    <%= f.label :department %>
    <%= f.text_field :department %><br>

    <!-- Location -->
    <%= f.label :location %>
    <%= f.text_field :location %><br>

    <!-- Submit -->
    <%= f.submit "Submit" %>
<% end %>
