<h1>Allied Teams</h1>
<% if session[:user_id] %>
    <%= link_to "Log Out", logout_path, method:'get' %> <!-- consider delete instead of get -->
    <% else %>
    <%= link_to "Log In", login_path %><br>
    <%= link_to "Not a member? Sign Up!", new_user_path %><br> <!-- signup_path -->
<% end %>
<% if session[:user_id] %>
  <%= link_to "Jobs Dashboard", user_jobs_path(session[:user_id]) %> <!-- user_jobs_path -->
<% end %>
<p><%= link_to "Jobs (doesn't exist yet!)", "/jobs" %></p> <!-- jobs_path -->
